@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Book Event Program</h1>
    <p>Click on Book List to create update and delete the books you want as per your need</p>
</div>
